
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Not Activated</title>
</head>
<body>
    <h1 style="text-align:center"> Sorry !!! Your Account Is Not Activated Please Contact The Management Department.</h1>
</body>
</html>
