@inject ZKTeco.Interface.IDashboardRepo repo
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" style="font-size:14px;  font-weight:bold !important">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i> Categories
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Categories" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> Categories List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Categories" asp-action="Add">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create Category
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Products
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Products" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> Products List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Products" asp-action="Create">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create Product
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" style="padding-right:10px;" href="#">
                    <i class="fa fa-podcast nav-icon" aria-hidden="true"></i> Services
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="ServicesArea" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> Services List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="ServicesArea" asp-action="Create">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create Service
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-newspaper-o nav-icon" aria-hidden="true"></i> News
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="News" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> News List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="News" asp-action="Create">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create New
                        </a>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="NewsLetters" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> News Letters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="NewsLetters" asp-action="Create">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create New Letters
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-calendar-check-o nav-icon" aria-hidden="true"></i> Events
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Events" asp-action="Index">
                            <i class="fa fa-list" aria-hidden="true"></i> Events List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-4" asp-controller="Events" asp-action="Create">
                            <i class="fa fa-plus" aria-hidden="true"></i> Create Event
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-bolt nav-icon" aria-hidden="true"></i> Support
                </a>
                <ul class="nav-dropdown-items mx-2">
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            Training
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="Trainings" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Trainings List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="Trainings" asp-action="Create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create Training
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            Downloadings
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="DownloadingArea" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> The List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="DownloadingArea" asp-action="Create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create Downloading
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="DwnloadLableArea" asp-action="Create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create Label
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            FAQ
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FAQ" asp-action="Indextitle">
                                    <i class="fa fa-list" aria-hidden="true"></i> FAQs Titles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FAQ" asp-action="CreateTitle">
                                    <i class="fa fa-list" aria-hidden="true"></i> Create Title
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FAQ" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> FAQs List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FAQ" asp-action="Create">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create FAQ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-gears nav-icon"></i> Website settings
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link ml-3" href="/ConfigArea">
                            Configrations
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle  ml-3" href="#">
                            Our product
                        </a>
                        <ul class="nav-dropdown-items  ml-3">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="SupportMainPageImg" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Items list
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="SupportMainPageImg" asp-action="Create">
                                    <i class="fa fa-list" aria-hidden="true"></i> Create Item
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle  ml-3" href="#">
                            Our Support
                        </a>
                        <ul class="nav-dropdown-items  ml-3">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="HomePage-OurProduct" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Items list
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="HomePage-OurProduct" asp-action="Create">
                                    <i class="fa fa-list" aria-hidden="true"></i> Create Item
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle  ml-3" href="#">
                            Our Client
                        </a>
                        <ul class="nav-dropdown-items  ml-3">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="OurClientsArea" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Items list
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="OurClientsArea" asp-action="Create">
                                    <i class="fa fa-list" aria-hidden="true"></i> Create Item
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle  ml-3" href="#">
                            Footer Area
                        </a>
                        <ul class="nav-dropdown-items  ml-3">
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FooterMainTitleArea" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Main title
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-4" asp-controller="FooterSubTitleArea" asp-action="Index">
                                    <i class="fa fa-list" aria-hidden="true"></i> Items
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/OnlineSupportArea">
                    <i class="fa fa-eercast nav-icon"></i> Online Support
                    <span class="badge badge-warning">@repo.GetSupportOnlionDetatil().Count</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AboutUs" asp-action="Index">
                    <i class="fa fa-slack nav-icon"></i> About Us

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BranchArea">
                    <i class="fa fa-code-fork nav-icon"></i> Branches

                </a>
            </li>
            @*<li class="nav-title">Categories</li>
                <li class="nav-item">
                    <a class="nav-link" href="/colors">
                        <i class="nav-icon icon-drop"></i> Colors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/typography">
                        <i class="nav-icon icon-pencil"></i> Typography
                    </a>
                </li>*@
            <!--<li class="nav-title">Theme</li>
            <li class="nav-item">
                <a class="nav-link" href="/colors">
                    <i class="nav-icon icon-drop"></i> Colors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/typography">
                    <i class="nav-icon icon-pencil"></i> Typography
                </a>
            </li>
            <li class="nav-title">Components</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Base
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/base/breadcrumb">
                            <i class="nav-icon icon-puzzle"></i> Breadcrumb
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/cards">
                            <i class="nav-icon icon-puzzle"></i> Cards
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/carousel">
                            <i class="nav-icon icon-puzzle"></i> Carousel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/collapse">
                            <i class="nav-icon icon-puzzle"></i> Collapse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/forms">
                            <i class="nav-icon icon-puzzle"></i> Forms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/jumbotron">
                            <i class="nav-icon icon-puzzle"></i> Jumbotron
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/list-group">
                            <i class="nav-icon icon-puzzle"></i> List group
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/navs">
                            <i class="nav-icon icon-puzzle"></i> Navs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/pagination">
                            <i class="nav-icon icon-puzzle"></i> Pagination
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/popovers">
                            <i class="nav-icon icon-puzzle"></i> Popovers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/progress">
                            <i class="nav-icon icon-puzzle"></i> Progress
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/scrollspy">
                            <i class="nav-icon icon-puzzle"></i> Scrollspy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/switches">
                            <i class="nav-icon icon-puzzle"></i> Switches
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/tables">
                            <i class="nav-icon icon-puzzle"></i> Tables
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/tabs">
                            <i class="nav-icon icon-puzzle"></i> Tabs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base/tooltips">
                            <i class="nav-icon icon-puzzle"></i> Tooltips
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-cursor"></i> Buttons
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/buttons/buttons">
                            <i class="nav-icon icon-cursor"></i> Buttons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buttons/button-group">
                            <i class="nav-icon icon-cursor"></i> Buttons Group
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buttons/dropdowns">
                            <i class="nav-icon icon-cursor"></i> Dropdowns
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buttons/brand-buttons">
                            <i class="nav-icon icon-cursor"></i> Brand Buttons
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="nav-icon icon-pie-chart"></i> Charts
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> Icons
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/icons/coreui-icons">
                            <i class="nav-icon icon-star"></i> CoreUI Icons
                            <span class="badge badge-success">NEW</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/icons/flags">
                            <i class="nav-icon icon-star"></i> Flags
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/icons/font-awesome">
                            <i class="nav-icon icon-star"></i> Font Awesome
                            <span class="badge badge-secondary">4.7</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/icons/simple-line-icons">
                            <i class="nav-icon icon-star"></i> Simple Line Icons
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-bell"></i> Notifications
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/alerts">
                            <i class="nav-icon icon-bell"></i> Alerts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/badge">
                            <i class="nav-icon icon-bell"></i> Badge
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notifications/modals">
                            <i class="nav-icon icon-bell"></i> Modals
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/widgets">
                    <i class="nav-icon icon-calculator"></i> Widgets
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">Extras</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> Pages
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" target="_top">
                            <i class="nav-icon icon-star"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" target="_top">
                            <i class="nav-icon icon-star"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/404" target="_top">
                            <i class="nav-icon icon-star"></i> Error 404
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/500" target="_top">
                            <i class="nav-icon icon-star"></i> Error 500
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>-->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>